<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Password Generator</title>
</head>

<body>
  <div class="container text-center">
    <h1>Password Generator</h1>
    <a href="{% url 'about' %}" class="btn btn-success">About</a>
    <form action="{% url 'password' %}" class="form">
      <div class="form-control">
        <select name="length" id="pwdlength">
          <option value="6">6</option>
          <option value="8">8</option>
          <option value="12" selected="selected">12</option>
          <option value="16">16</option>
        </select> Length
      </div>
      <div class="form-control">
        <input type="checkbox" name="uppercase" id="uppercase"> UpperCase
        <input type="checkbox" name="specialcase" id="specialcase"> Specialcase
        <input type="checkbox" name="numbers" id="numbers"> Numbers
      </div>
      <div class="form-control">
        <input type="submit" value="Generate" class="btn btn-success">
      </div>
    </form>
  </div>
</body>

</html>